<launch>

  <arg name="existing_map"/>

  <arg name="map_path" value="$(find environments)/$(env ROBOT_VER)/$(env RUN_TYPE)/$(env ROBOT_ENV)/map/$(arg existing_map)"/>

  <node pkg="slam_toolbox" type="lifelong_slam_toolbox_node" name="slam_toolbox" output="screen">
    <param name="odom_frame" value="$(optenv ROBOT_ID robot_0)/odom" />
    <param name="base_frame" value="$(optenv ROBOT_ID robot_0)/base_link" />
    <param name="map_frame" value="$(optenv ROBOT_ID robot_0)/map"/>
    <param name="map_file_name" value="$(arg map_path)"/>
    <rosparam command="load" file="$(find slam_toolbox)/config/mapper_params_lifelong.yaml" />
  </node>

</launch>
