<launch>

  <!-- <param name="/use_sim_time" value="true" /> -->

  <arg name="robot_id" default="ilogistics_3_0000"/>

  <node pkg="slam_toolbox" type="localization_slam_toolbox_node" name="slam_toolbox" output="screen" respawn="true">
    <param name="odom_frame" value="$(arg robot_id)/odom_real" />
    <param name="base_frame" value="$(arg robot_id)/base_link_real" />
    <param name="map_frame" value="$(arg robot_id)/map_real"/>
    <param name="map_file_name" value="$(find slam_toolbox)/maps/stef_final"/>
    <param name="scan_topic" value="/$(arg robot_id)/base_scan_real"/>
    <remap from="/initialpose" to="/$(arg robot_id)/initialpose"/>
    <remap from="/map" to="/$(arg robot_id)/map"/>
    <rosparam command="load" file="$(find slam_toolbox)/config/mapper_params_simu_localization.yaml" />
  </node>

</launch>
